html {
  box-sizing: border-box;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
justify-content: center;
font-weight: bold;
}

body {
  width: 350px;
  padding: .5em;
  margin-top: .5rem;
  font-family: "Open" sans-serif;
  line-height: 1.5;
}

section ul {
  justify-content: space-around;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
}

li img {
padding: .5rem;

}
h3 {
display: flex;

}

h4 {
display: flex;

}

p {
  display: flex;
  width: 60%;
}

a {
  background-color: #444;

}
