html {
  box-sizing: border-box;
  font-family: "Open sans-serif";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
justify-content: center;
font-weight: bold;
}

body {
  width: 350px;
  padding: 25px;
}

section ul {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

li img {
padding: 1px;

}
h3 {
display: flex;

}

h4 {
display: flex;

}

p {
  display: flex;


}
